.format-toolbar {
  display: flex;
  border-bottom: solid 1.7px rgba(199, 198, 255, 0.15);
  padding: 10px 0;
  margin: 0 0 10px 0;
}

.tooltip-icon-button {
  border: 0;
  background-color: rgba(255, 255, 255, 0);
}